.main-map{
    margin-top: 25px;
    position: relative;
}

.map{
    &_big{
        height: 550px;
    }
    &_hidden{
        height: 52px;
    }
    &__control{
        position: absolute;
        height: 52px;
        width: 100%;
        top: 0;
        padding: 15px 25px;
        display: flex;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.2);
    }
    &__title{
        color: white;
        margin-left: 22px;
    }
    &__roll-up{
        cursor: pointer;
    }
}
