.filters{
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: end;
	
	&__item{
		width: 168px;		
	}
	&__label{
		margin-bottom: 5px;
	}
}

.filter{
	width: 186px;
	height: 40px;
	border: 2px solid #B5CAF6;
	border-radius: 16px;
	background-color: inherit;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;

	/* identical to box height, or 143% */
	display: flex;
	align-items: center;
	padding: 0 5px;

	/* Text */
	color: #21201F;
}

.postamats{
	&__button{
		display: block;
	}
}