.district-card{
    padding: 25px;
    width: 618px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    &__header{
        display: block;
    }
    &__info{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 25px;
        padding-top: 15px;
        border-top: 3px var(--bg-color) solid;
    }
    &:hover{
        outline: 3px solid var(--border-color);
    }
}