.postamat-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    height: 100px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    padding: 0 50px;
    & > div{
        width: 300px;
    }
    &_active{
        outline: 3px solid var(--border-color);
    }
}