header{
    padding: 10px 0;  
/*     position: fixed; */
    z-index: 5;
    background: white;
    width: 100%;
    height: 85px;
}

.header{
    &__wrapper{
        display: grid;
        padding-top: 5px;
    }

    &__logo{
        position: relative;
        justify-self: start;
        display: flex;
        margin-left: 50px; 
    }   
}

.logo{
    &__title{
        margin-left: 100px;
        line-height: 70px;
        font-size: 30px;
    }
    
    &__img{
        position: absolute;
        top: 5px;
        height: 30px;
        width: 30px;
        background: var(--logo-color);
        transform: rotate(45deg);
        &:before, &:after{
            position: absolute;
            content: '';
            height: 30px;
            width: 30px;
            background: var(--logo-color);
            transform: rotate(45deg);
        }
        &:before{
            left: -50%;
            bottom: -120%;
        }
        &:after{
            right: -120%;
            bottom: 50%;
        }
    }
}


