*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

a::hover{
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
} 

.container{
    width: 1260px;
    margin: 0 auto;
    position: relative;
}

body{
    background-color: var(--bg-color);
}

.main__container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 40px 0 10px;
    height: 710px;
}