.main-map{
    margin-top: 25px;
    position: relative;
}

.map{
    &_big{
        height: 550px;
    }
    &_hidden{
        height: 52px;
    }
    &__control{
        position: absolute;
        height: 52px;
        width: 100%;
        top: 0;
        padding: 15px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
    &__title{
        color: white;
        margin-left: 22px;
    }
    &__roll-up{
        cursor: pointer;
    }
    &__legend{
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      &_heatmap{
        width: 440px;
      }
      &-item{
        display: flex;
      }
      &-icon{
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin-right: 8px;
        &_predict{
          background: #9A8E82;
        }
        &_fact{
          background: #0195EB;
        }
        &_station{
          display: flex;
          align-items: center;
          justify-content: center;
          background:white;
          border-radius: 100%;
          border: 2px solid #0195EB;
          i{
            line-height: 0;
          }
        }
        &_route{
          display: block;
          width: 5px;
          height: 20px;
          background: #DB7093;
          border-radius: 0;
        }
      }
    }
    &__gradient{
      &-item{
        width: 40px;
        height: 20px;
        background: yellow;
        border-radius: 3px;
        &:first-child{
          background: #AC2078;
        }
        &:nth-child(2){
          background: #FF9A00;
        }
        &:nth-child(3){
          background: #FFFC00;
        }   
        &:nth-child(4){
          background: #FFFC3F;
        }           
        &:last-child{
          background: #FFFFFF;
          border: 1px solid #000000;
        }
      }
      display: flex;
      gap: 5px;
    }
}

  span.switcher {
    position: relative;
    
    width:248px;
    height:42px;
    border-radius:25px;
    margin:20px 0;
    input {
       appearance: none;    
       position: relative;
       width:248px;
       height:42px;
       border-radius:34px;
       background-color:#FFFFFF;
       outline:none;
       transition:.25s -.1s;
       &:before, &:after {
          z-index:2;
          position: absolute;
          top:50%;
          transform:translateY(-50%);
          color:#FFFFFF;
          font-weight: 400;
          font-size: 16px;
       }
       &:before {
          content: 'Обычная';
          left:25px;
       }
       &:after {
          content: 'Тепловая';
          right:25px;
       }

       &:checked {
        &:before {
           color:#FFFFFF;
           transition: color .5s .2s;
        }
        &:after {
           color:#000000;
           transition: color .5s;
        }
        &+label {
           left:0;
           right:120px;         
           transition: left .5s, right .4s .2s;
        }
     }
     &:not(:checked) {
/*         background:black; */
        transition: background .5s -.1s;
        &:before {
            color:#000000;
           transition: color .5s;
        }
        &:after {
           color:#FFFFFF;
           transition: color .5s .2s;
        }
        &+label {
           left:120px;
           right:0;
           transition: left .4s .2s, right .5s, background .35s -.1s;
        }
     }
    }
    label {
       z-index:1;
       position: absolute;
       top:0;
       bottom:0;
       background: var(--main-color);
       
       border-radius:34px;

    }

 }
  